{#include file="$SHIVE/header.html"#}

<div id="left_layout">
  <!-- main content -->
  <!-- main content -->
  <div id="main_content" class="container-fluid">

    <!-- page heading -->
    <div class="page-heading">

      <h2 class="page-title muted">
        <i class="icon-th-list"></i> 添加广告图
      </h2>

    </div>
    <!-- post wrapper -->
    <div class="row-fluid">

      <!-- widget -->
      <div class="well widget">

        <!-- widget content -->
        <div class="widget-content">
          <div class="form-horizontal" >
            <div class="control-group">
              <label class="control-label" >名称</label>
              <div class="controls">
                <input type="text" class="span7" name="title" id="title" placeholder="名称" />
                <span class="help-inline red-warn">*</span>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" >位置</label>
              <div class="controls">
                {#foreach $PLACE_ARRAY as $pk => $pv #}
                <label class="radio inline">
                  <input type="radio" class="fancy" value="{#$pk#}" id="place" name="place"/> {#$pv#}
                </label>
                {#/foreach#}
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" >图片</label>
              <div class="controls">
                <input type="hidden"  id="pic1" />
                <input type="file" class="span6 fancy" id="upFile1" />
                <span class="help-inline red-warn">*</span>
              </div>
              <div class="controls" id="showPic1">

              </div>
            </div>
            <div class="control-group">
              <div class="controls">
                <button id="submitButton" class="btn btn-warning">提交</button>
              </div>
            </div>

          </div>
        </div>
      </div>
      <!-- ./ widget -->

    </div>
    <!-- ./ post wrapper -->



  </div>
  <!-- end main content -->
  {#include file="$SHIVE/sidebar.html"#}
  </div>

<script src="/js/upload_img.js"></script>
<script src="/js/management/banneradd.js"></script>