{#include file="$SHIVE/header.html"#}

<div id="left_layout">
  <!-- main content -->
  <!-- main content -->
  <div id="main_content" class="container-fluid">

    <!-- page heading -->
    <div class="page-heading">

      <h2 class="page-title muted">
        <i class="icon-th-list"></i> 产品管理
      </h2>

    </div>
    <!-- post wrapper -->
    <div class="row-fluid">
      <!--search-->
      <div class="well widget">
        <div class="widget-content">
          <div class="form-inline">
            <label>ID</label>
            <input type="text" class="input-medium "  value="{#$searchId#}" id="searchId" placeholder="商品ID" />
            <label>名称</label>
            <input type="text" class="input-medium " value="{#$searchTitle#}" id="searchTitle" placeholder="商品名称" />

            <button type="button" id="searchButton" class="btn btn-info">查询</button>
          </div>
        </div>
      </div>
      <!--/search-->
      <!-- widget -->
      <div class="well widget">

        <!-- widget content -->
        <div class="widget-content">
          <table class="table table-bordered">
            <thead>
            <tr>
              <th>ID</th>
              <th>名称</th>
              <th>图片</th>
              <th>描述</th>
              <th>更新时间</th>
              <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {#foreach $list as $rs #}
            <tr>
              <td>{#$rs['id']#}</td>
              <td>{#$rs['title']#}</td>
              <td><img src="/{#$rs['pic']#}" width="100"/></td>
              <td>{#$rs['desc']#}</td>
              <td>{#date('Y-m-d H:i:s',$rs['update_time'])#}</td>
              <td>
                <a href="edit?id={#$rs['id']#}" target="_blank" class="btn btn-success">修改</a>
                <button type="button" class="btn btn-inverse delButton">删除</button>
              </td>
            </tr>
            {#/foreach#}
            </tbody>
          </table>
        </div>
        <!-- ./ widget content -->
        <!--page-->
        <input type="hidden" id="pageCount" value="{#$pageCount#}">
        <input type="hidden" id="nowPage" value="{#$nowPage#}">
        <div class="pagination pagination-info">

        </div>
        <!--/page-->
      </div>
      <!-- ./ widget -->

    </div>


  </div>
  <!-- end main content -->
  {#include file="$SHIVE/sidebar.html"#}
  </div>
<script src="/js/management/productlist.js"></script>
<script src="/js/pager.js"></script>
