{#include file="$SHIVE/header.html"#}

<div id="left_layout">
  <!-- main content -->
  <!-- main content -->
  <div id="main_content" class="container-fluid">

    <!-- page heading -->
    <div class="page-heading">

      <h2 class="page-title muted">
        <i class="icon-th-list"></i> 产品管理
      </h2>

    </div>
    <!-- post wrapper -->
    <div class="row-fluid">
      <!--search-->
      <div class="well widget">
        <div class="widget-content">
          <form class="form-inline" />
          <label>Email</label>
          <input type="text" class="input-medium " placeholder="Email" />
          <label>Password</label>
          <input type="password" class="input-medium " placeholder="Password" />
          <select class="span2">
            <option />1
            <option />2
            <option />3
            <option />4
            <option />5
          </select>
          <button type="submit" class="btn btn-info">查询</button>
          </form>
        </div>
      </div>
      <!--/search-->
      <!-- widget -->
      <div class="well widget">

        <!-- widget content -->
        <div class="widget-content">
          <table class="table table-bordered">
            <thead>
            <tr>
              <th>#</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Username</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>2</td>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>@fat</td>
            </tr>
            </tbody>
          </table>
        </div>
        <!-- ./ widget content -->
        <!--page-->
        <div class="pagination pagination-info">
          <ul>
            <li class="disabled"><a href="#">首页</a></li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="?p=2">2</a></li>
            <li><a href="?p=2">3</a></li>
            <li><a href="?p=2">4</a></li>
            <li><a href="?p=2">5</a></li>
            <li><a href="?p=2">末页</a></li>
          </ul>
        </div>
        <!--/page-->
      </div>
      <!-- ./ widget -->

    </div>


  </div>
  <!-- end main content -->
  {#include file="$SHIVE/sidebar.html"#}
  </div>
<script>
  $(function(){
    //添加产品账号
    $('#addButton').click(function () {
      var account = $('#account').val();
      var password = $('#password').val();
      if(account == '' || account == null){
        alert('产品账号不能为空');
        return false;
      }
      if(password == '' || password == null){
        alert('产品密码不能为空');
        return false;
      }
      $.ajax({
        type: "post",
        url: "/_market/public/index.php/Management/manager/add",
        data: {
          account : account,
          password : password
        },
        dataType: "json",
        success: function(data){
          if(data.code == 200){
            alert('添加成功');
            window.location.reload();
          }else {
            alert('添加失败:'+data.msg);
          }
        }
      });
    });
    //重置密码
    $('.resetPassword').click(function () {
      var id = $(this).parents('tr').children('td').eq(0).text();
      var account = $(this).parents('tr').children('td').eq(1).text();

      var r = confirm('确定重置产品【'+account+'】的密码吗？');
      if(r){
        $.ajax({
          type: "post",
          url: "/_market/public/index.php/Management/manager/resetPassword",
          data: {
            id : id
          },
          dataType: "json",
          success: function(data){
            if(data.code == 200){
              alert('已成功重置密码，新的密码是'+data.result.password);
              window.location.reload();
            }else {
              alert('重置失败:'+data.msg);
            }
          }
        });
      }
    })
    //删除产品
    $('.delManager').click(function () {
      var id = $(this).parents('tr').children('td').eq(0).text();
      var account = $(this).parents('tr').children('td').eq(1).text();

      var r = confirm('确定删除产品【'+account+'】吗？');
      if(r){
        $.ajax({
          type: "post",
          url: "/_market/public/index.php/Management/manager/delManager",
          data: {
            id : id
          },
          dataType: "json",
          success: function(data){
            if(data.code == 200){
              alert('删除成功');
              window.location.reload();
            }else {
              alert('删除失败:'+data.msg);
            }
          }
        });
      }
    })
  });

</script>