<!-- sidebar -->
			<ul id="sidebar" class="nav nav-pills nav-stacked">
				<li class="avatar hidden-phone">
					<a href="#">
						<img src="/vendors/bootstrap/library/images/100/06.png" />
						<span>Geunevere Calista</span>
					</a>
				</li>
				<li>
					<a href="index.html">
						<i class="micon-home"></i>
						<span class="hidden-phone">首页</span>
					</a>
				</li>
				<li>
					<a href="/Management/category/list">
						<i class="micon-tag"></i>
						<span class="hidden-phone">类别管理</span>
					</a>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						<i class="micon-cart"></i>
						<span class="hidden-phone">产品管理</span>
					</a>
					<ul class="dropdown-menu">
						<li>
							<a href="/Management/product/add">
								<i class="icon-large icon-plus"></i> 添加产品
							</a>
						</li>
						<li>
							<a href="/Management/product/list">
								<i class="icon-large icon-th"></i> 产品管理
							</a>
						</li>
					</ul>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						<i class="micon-picture"></i>
						<span class="hidden-phone">广告图管理</span>
					</a>
					<ul class="dropdown-menu">
						<li>
							<a href="/Management/banner/add">
								<i class="icon-large icon-plus"></i> 添加广告图
							</a>
						</li>
						<li>
							<a href="/Management/banner/list">
								<i class="icon-large icon-th"></i> 广告图管理
							</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="charts.html">
						<i class="micon-mail"></i>
						<span class="hidden-phone">留言管理</span>
					</a>
				</li>
				<li>
					<a href="/Management/common/list">
						<i class="micon-location"></i>
						<span class="hidden-phone">公司信息</span>
					</a>
				</li>
				<li>
					<a href="/Management/manager/list">
						<i class="micon-briefcase"></i>
						<span class="hidden-phone">后台管理</span>
					</a>
				</li>
			</ul>
			<!-- end sidebar -->

	</body>
</html>

<!-- external api -->
<!--<script src="http://maps.google.com/maps/api/js?v=3.5&sensor=false"></script>-->

<!-- base -->
<script src="/vendors/bootstrap/library/assets/js/jquery.js"></script>
<script src="/vendors/bootstrap/library/assets/js/bootstrap.min.js"></script>

<!-- addons -->
<script src="/vendors/bootstrap/library/plugins/chart-plugins.js"></script>
<script src="/vendors/bootstrap/library/plugins/jquery-ui-slider.js"></script>
<script src="/vendors/bootstrap/library/plugins/redactor/redactor.min.js"></script>
<script src="/vendors/bootstrap/library/plugins/jquery.uniform.js"></script>
<script src="/vendors/bootstrap/library/plugins/chosen.jquery.min.js"></script>
<script src="/vendors/bootstrap/library/plugins/bootstrap-datepicker.js"></script>
<script src="/vendors/bootstrap/library/plugins/jquery.timePicker.min.js"></script>
